.assurance__section{
    width: 100%;
    margin-bottom: 4rem;
}

.assurance__content{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}


.assurance__left{
    width: 100%;
    height: auto;
}

.aimage{
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 1rem ;
}

.aimage img{
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
    border-radius: 1rem;
    transform: scale(1);
    transition: all .5s ease-in;
}

.aimage:hover img{
    transform: scale(1.2);
    transition: all .5s ease-out;
}

.aright__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.assurance__title{
    font-size: 3rem;
    font-weight: bold;
    color: var(--gold-shade1);
}

.atext{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.atext p{
    line-height: 1.6;
}


/* CSS for tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    /* Add your CSS rules here */
    .assurance__title{
        font-size: 2rem;
        font-weight: bold;
        color: var(--gold-shade1);
        text-align: center;
    }

    .assurance__content{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .atext p{
        line-height: 1.6;
        text-align: center;
    }
}

/* CSS for small devices (like smartphones) */
@media only screen and (max-width: 767px) {
    /* Add your CSS rules here */
    .assurance__title{
        font-size: 2rem;
        font-weight: bold;
        color: var(--gold-shade1);
        text-align: center;
    }

    .assurance__content{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .atext p{
        line-height: 1.6;
        text-align: center;
    }
}
  