/* CSS Reset */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
    height: 10px; /* Height of the scrollbar */
}
  
  /* Track for the scrollbar */
 ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}
  
  /* Handle for the scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--gold-shade1); /* Color of the scrollbar handle */
    border-radius: 5px; /* Radius of the scrollbar handle */
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-color);
    color: var(--color-white);
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

/* Color Variables*/
:root{
    --bg-color: #000000;
    --color-white: #ffffff;
    --gold-shade1: #F4DE8B;
    --gray-shade1: #e5e2e2;
/* width variable*/
    --fullscreen-width: 100%;
    --medium-width: 80%;
    --mobile-width: 90%;
}
  